body {
    color: palegreen;
    background-color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    #cabecera {
        background-color: #33a;
        color: white;
        font-weight: bold;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: .5em;
    }

    #cabecera #tagline {
        margin: 0 0 0 1em;
        font-weight: normal;
        font-size: .8em;

    }

    #container {
        width: 70%;
        padding: 1em;
        text-align: center;
        border: 1px solid #ddd;
        margin: 0 auto ;
    } 


    #container h1 {
        font-size: 20px;
    }
}

footer {
    color: red;
    text-align: center;
    padding-top: 1em ;
}